
.card-header[id^=panel-header-C] {
    background-color: #8f8f8f;
    span {
        color: black;
    }
}

.card-header[id^=panel-header-D] {
    background-color: #8f8f8f;
    span {
        color: cornsilk;
    }
}