<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
        <ngb-accordion #acc="ngbAccordion" activeIds="" closeOthers="true">
          <ngb-panel *ngFor='let transactions of transaction'>
            <ng-template ngbPanelTitle>
              <span class="panel-header-{{transactions.type}}">Transaction ID: {{ transactions.id }} </span>
            </ng-template>
               <ng-template ngbPanelContent>
                          <ul class="list-group">
                            <li class="list-group-item"><span>Transaction Id: {{ transactions.id }}</span></li>
                            <li class="list-group-item"><span>Transaction Amount: {{ transactions.amount }}</span></li>
                            <li class="list-group-item"><span>Transaction Type: {{ transactions.type }}</span></li>
                          </ul>        
            </ng-template>
          </ngb-panel>
        </ngb-accordion>  
      </div>
      <router-outlet></router-outlet>